body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #0F172A;
}

.inputBox:-webkit-autofill,
.inputBox:-webkit-autofill:hover,
.inputBox:-webkit-autofill:focus,
.inputBox:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #1E293B inset !important;
  -webkit-text-fill-color: #F8FAFC !important;
}